<%- include("header",{user:null})%>
<div class="container text-center">
<h2><%= title %></h2>
<p>this blog web site is made by faiz khan,its my first web site with full backend and front end made by me it was a great exprerrians and you should try to post some of yours thoughts</p>
<%- include("footer") -%>